rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Consenti solo "get" del documento /pages/home (non query, non write)
    match /pages/home {
      allow get: if true;
    }

    // Blocca tutto il resto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}

